.header {
  background: var(--default-color);
  flex-shrink: 0;
}

.header__nav {
  background: var(--default-darker-color);
  padding: 8px 0;
}

.header__box-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 30px;
}

.header__nav-item {
  flex-shrink: 0;
}

.header__nav-link {
  font-size: 14px;
  line-height: 1.2;
}

.header__nav-link_active {
  text-decoration: underline;
}

.header__socials {
  margin-left: auto;
}

.header__socials .socials__item {
  max-width: 24px;
  max-height: 24px;
}

.header__login {
  display: flex;
  gap: 13px;
  align-items: center;
}

.header__login_type_mobile {
  display: none;
}

.header__login-icon {
  max-width: 20px;
  height: auto;
}

.header__login-text {
  font-size: 14px;
  line-height: 1.2;
}

.header__info {
  padding: 17px 0 25px;
}

.header__box-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__burger {
  display: none;
  min-width: 22px;
  max-width: 22px;
  max-height: 18px;
  background: none;
  border-radius: 0;
}

.header__burger-icon {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 44px;
}

.header__logo:hover {
  opacity: 1;
}

.header__logo-title {
  font-size: 18px;
  line-height: 1.2;
  max-width: 150px;
  text-transform: uppercase;
}

.header__logo-img {
  width: 100%;
  height: auto;
  max-width: 71px;
  max-height: 58px;
}

.header__info-delicious {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__info-delicious-img {
  width: 100%;
  height: auto;
  max-width: 38px;
  max-height: 30px;
}

.header__info-delicious-text {
  font-size: 18px;
  line-height: 1;
  max-width: 125px;
  margin: 0;
}

.header__contacts {
  margin-left: auto;
  display: grid;
  grid-template-columns: max-content 7px max-content;
  grid-template-rows: repeat(2, auto);
  gap: 0 5px;
  margin-right: 12px;
}

.header__phone {
  font-family: var(--titlefont);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.header__phone-separator {
  font-family: var(--titlefont);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #CBD3D9;
}

.header__call-me-back {
  font-size: 14px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: underline;
}

.header__schedule {
  grid-column: 3/4;
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
}

.header__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__cart-img {
  max-width: 33px;
  max-height: 31px;
  width: 100%;
  height: auto;
}

.header__cart-value {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding: 4px 10px;
  background: var(--accent-color-second);
  border-radius: 30px;
  color: var(--default-color);
  margin-top: -3px;
}

.header__menu {
  background: var(--accent-color);
}

.header__close-button {
  display: none;
  width: 22px;
  height: 14px;
  background: none;
  border-radius: 0;
}

.header__close-icon {
  width: auto;
  height: auto;
}

.header__menu-list {
  display: flex;
}

.header__menu-item {
  flex: 1 1 auto;
}

.header__menu-link {
  padding: 14px 20px;
  background-color: var(--accent-color);
  transition: background-color .2s ease-in-out;
  font-size: 14px;
  color: var(--default-color);
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header__menu-link_active {
  background-color: var(--accent-color-hover);
}

.header__menu-item:first-of-type .header__menu-link {
  padding-left: 5px;
  justify-content: flex-start;
}

.header__menu-item:last-of-type .header__menu-link {
  padding-right: 5px;
  justify-content: flex-end;
}

.header__menu-link:hover {
  opacity: 1;
  background-color: var(--accent-color-hover);
}

.header__menu .header__nav-links {
  display: none;
}

.header__menu .header__contacts {
  display: none;
}

.header__menu .header__socials {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header__box-nav {
    gap: 24px;
  }

  .header__nav-list {
    gap: 10px;
  }
  
  .header__nav-link {
    font-size: 12px;
    line-height: 1.2;
  }

  .header__socials .socials__item {
    max-width: 20px;
    max-height: 20px;
  }

  .header__login {
    gap: 6px;
  }

  .header__login-text {
    font-size: 12px;
  }

  .header__info-delicious {
    display: none;
  }

  .header__menu-link {
    padding: 14px 17px;
    gap: 6px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .header__info {
    padding: 7px 0 11px;
    background: var(--default-darker-color);
  }

  .header__box-info {
    gap: 6px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__logo {
    margin-right: 8px;
  }

  .header__logo-img {
    max-width: 59px;
    max-height: 48px;
  }

  .header__logo-title {
    display: none;
  }

  .header__contacts {
    justify-content: center;
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, auto);
  }

  .header__phone {
    font-size: 15px;
  }
  
  .header__phone:nth-of-type(2) {
    display: none;
  }

  .header__phone-separator {
    display: none;
  }

  .header__call-me-back {
    text-align: center;
  }

  .header__schedule {
    display: none;
  }

  .header__login_type_mobile {
    display: inline-block;
    margin-right: 10px;
  }

  .header__cart-img {
    max-width: 20px;
    max-height: 20px;
  }

  .header__cart-value {
    margin-top: -7px;
    padding: 1px 4px;
    font-size: 10px;
  }

  .header__cart-separator {
    display: none;
  }

  .header__cart-price {
    display: none;
  }

  .header__menu {
    position: fixed;
    overflow: hidden;
    top: -100px;
    left: -2px;
    opacity: 0;
    width: 1px;
    height: 1px;
    transition: all 0 linear;
    padding: 20px 0 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: auto;
    z-index: 100;
  }

  .header__menu_open {
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    opacity: 1;
    transition: all .2s linear;
  }

  .header__close-button {
    display: block;
    padding: 0 20px;
  }

  .header__menu-box {
    padding: 0 34px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .header__menu-list {
    flex-direction: column;
    gap: 30px;
  }

  .header__menu-link {
    padding: 0;
    justify-content: flex-start;
    font-size: 16px;
    gap: 16px;
  }

  .header__menu-item:first-of-type .header__menu-link {
    padding-left: 0;
    justify-content: flex-start;
  }

  .header__menu-item:last-of-type .header__menu-link {
    padding-right: 0;
    justify-content: flex-start;
  }

  .header__menu .header__nav-links {
    display: block;
  }

  .header__nav-list {
    flex-direction: column;
    gap: 24px;
  }

  .header__nav-link {
    font-size: 18px;
    color: var(--default-color);
  }

  .header__wrapper {
    background: var(--accent-darker-color);
    padding: 28px 34px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header__menu .header__contacts {
    display: block;
    margin: inherit;
  }

  .header__menu .header__phone {
    font-size: 22px;
    color: var(--default-color);
  }

  .header__menu .header__phone:nth-of-type(2) {
    display: block;
    margin-bottom: 10px;
  }

  .header__menu .header__call-me-back {
    color: var(--default-color);
  }

  .header__menu .header__schedule {
    display: block;
    color: var(--default-color);
  }
  
  .header__menu .header__socials {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, auto);
    gap: 8px 16px;
    margin-left: inherit;
  }

  .header__socials .socials__item {
    max-width: inherit;
    max-height: inherit;
  }

  .header__menu .socials__link {
    display: flex;
    align-items: center;
    border: 1px solid #83B731;
    border-radius: 30px;
    overflow: hidden;
    gap: 10px;
    padding-right: 16px;
    max-width: max-content;
  }

  .header__menu .socials__icon {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
  }

  .header__menu .socials__text {
    font-size: 14px;
    line-height: 1.2;
    color: var(--default-color);
  }
}
