/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.up-button {
  display: block;
  position: absolute;
  top: 60%;
  right: 4.5%;
  border: 1px solid var(--default-darker-color-second);
  border-radius: 10px;
  padding: 8px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3px;
}

.up-icon {
  display: block;
  max-width: 20px;
  max-height: 22px;
}

.up-text {
  display: block;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: var(--default-darker-color-second);
}

@media screen and (max-width: 1279px) {
  .up-button {
    top: 50%;
    right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .up-button {
    top: unset;
    right: 15px;
    bottom: 26px;
  }
}
