/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.faq__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

.faq__item {
  border: 1px solid var(--default-darker-color);
  border-radius: 12px;
  padding: 24px 32px;
  background-color: var(--default-color);
  -webkit-transition: .2s ease-in-out background-color;
  -o-transition: .2s ease-in-out background-color;
  transition: .2s ease-in-out background-color;
}

.faq__item_active {
  background-color: var(--default-darker-color);
}

.faq__name {
  font-size: 20px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}

.faq__name::after {
  content: url(../../images/form-arrow-bottom.svg);
  display: block;
  height: 24px;
  width: 24px;
  -webkit-transition: .2s ease-in-out transform;
  -o-transition: .2s ease-in-out transform;
  transition: .2s ease-in-out transform;
}

.faq__item_active .faq__name::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq__content {
  margin: 16px 0 0;
  display: none;
  line-height: 1.2;
}
